.container {
	width: var(--three-columns);
	position: relative;
	border-left: 5px solid var(--color-tertiary);
	padding-left: 20px;
}
.container * {
	text-decoration: none;
}

.category {
	padding: 6px 10px;
	border-radius: 4px;
	border: solid 1px var(--color-dark);
	font-family: var(--font-secondary);
	font-weight: bolder;
	font-size: 0.6em;
	color: var(--color-dark);
	text-transform: uppercase;
	position: relative;
	top: -35px;
	left: -25px;
}

.title {
	font-family: var(--font-primary);
	font-size: 1.3em;
	text-align: left;
	color: var(--color-black);
}

.excerpt {
	font-family: var(--font-secondary);
	font-size: 1em;
	line-height: 1.5;
	text-align: left;
	color: var(--color-text);
}
