.container {
	width: var(--three-columns);
	position: relative;
	border-left: 5px solid var(--color-tertiary);
	padding-left: 20px;
}
.container * {
	text-decoration: none;
}

.category {
	padding: 6px 10px;
	border-radius: 4px;
	border: solid 1px var(--color-dark);
	font-family: var(--font-secondary);
	font-weight: bolder;
	font-size: 0.6em;
	color: var(--color-dark);
	text-transform: uppercase;
	position: relative;
	top: -35px;
	left: -25px;
}

.title {
	font-family: var(--font-primary);
	font-size: 1.3em;
	text-align: left;
	line-height: 1.4;
	color: var(--color-black);
}

.excerpt {
	font-family: var(--font-secondary);
	font-size: 1em;
	line-height: 1.5em;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3em;
	text-align: left;
	color: var(--color-text);
}

@media only screen and (max-width: 1024px) {
	.title {
		font-size: 1.1em;
		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
		max-height: 2.8em;
	}
}

@media only screen and (max-width: 640px) {
	.container {
		width: 100%;
		box-sizing: border-box;
	}
}
