.container {
	padding: 0 var(--horizontal-padding);
	background-color: var(--white);
}

.title {
	font-family: var(--font-primary);
	font-size: 3em;
	font-weight: bold;
}

.thumbnailImage {
	width: 100%;
	border-radius: 1em;
}

.authorName {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 1.2em;
	color: var(--color-black);
	margin-bottom: 10px;
}

.articleDate {
	font-family: var(--font-secondary);
	font-size: 1em;
	color: var(--color-text);
}

.blogContent {
	font-family: var(--font-secondary);
	font-size: 1.1em;
	color: var(--color-black);
	width: var(--six-columns);
}
