.container {
	padding: 0 var(--horizontal-padding);
	background-color: var(--white);
}

.title {
	font-family: var(--font-primary);
	font-size: 3em;
	font-weight: bold;
}

.thumbnailImage {
	width: 100%;
	border-radius: 1em;
}

.authorName {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 1.2em;
	color: var(--color-black);
	margin-bottom: 10px;
}

.articleDate {
	font-family: var(--font-secondary);
	font-size: 1em;
	color: var(--color-text);
}

.blogContent {
	font-family: var(--font-secondary);
	font-size: 1.1em;
	color: var(--color-black);
	width: var(--six-columns);
}

.blogContent img {
	width: 100%;
}

.blogContent a {
	text-decoration: none;
	font-weight: bold;
	color: var(--color-primary);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 640px) {
	.container {
		padding: 0 20px;
		box-sizing: border-box;
	}

	.thumbnailImage {
		margin: 0 -20px;
		border-radius: 0;
	}
	.container > article > div:nth-child(n-1) {
		flex-direction: column;
	}
	.blogContent {
		width: 100%;
	}
}
