.blog-post-container{
    padding-bottom: 5vh;
    font-size: 10px;
    background-color: #fff!important;
  
}

.post-title-main{
    text-align: center;
    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 8vh;
    font-weight: 500;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
}

.data-div{
    display: flex;
    width: 70%;
 
    padding-left: 2%;
    padding-right: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    justify-content: space-between;
    align-items: center;
    
}

.author-container .content{
    font-size: 1rem !important;
    margin-bottom: 5px;
    
}

.author-container .social-container{
    flex: 1;
}

.social-container a{
    margin-left: 5px;
    margin-right: 5px;
}

.blog-post-content{
    font-size: 1.2rem ;
}

.post-thumbnail{
    height: 70vh;
    background-size: contain;
}

.post{
 
    justify-content: center;
}

.blog-post-content{
    overflow: hidden;
    box-sizing: border-box;
}

.blog-post-content img{
  
 object-fit: contain;
    max-width: 80vw;
    max-height: 100vh;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
  
}


@media screen and (max-width: 1200px) {

.post-title-main{
    width: 100%;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 25px;
   
}


.data-div{
    width: 100%;
    margin-bottom: 0;
}


.post-thumbnail{
    height: auto;
    margin-bottom: 0;
}

}