.container {
	width: var(--six-columns);
}

.title {
	font-family: var(--font-primary);
	font-size: 2em;
	font-weight: 800;
	line-height: 1.5;
	text-align: left;
	color: var(--color-black);
}

.author {
	font-family: var(--font-secondary);
	font-size: 1.1em;
	font-weight: 600;
	text-align: left;
	color: var(--color-text);
}
