.container {
  width: var(--six-columns);
}

.title {
  font-family: var(--font-primary);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: var(--color-black);
  animation: lavanya 2s;
}

@keyframes lavanya {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.author {
  font-family: var(--font-secondary);
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
  color: var(--color-text);
  animation: lavanya 2s;
}

.container > p {
  font-size: 1.2em;
  line-height: 1.4;
  width: var(--five-columns);
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 1.4em;
    line-height: 1.6;
  }
  .author {
    font-size: 1.2em;
  }

  .container > p {
    width: 100%;
    font-size: 1em;
  }
}
