.title {
	font-family: var(--font-secondary);
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	color: var(--color-text);
}

.form {
	display: flex;
	flex-direction: column;
	max-width: var(--three-columns);
}

@media only screen and (max-width: 640px) {
	.form {
		max-width: 100%;
	}
}
