.input {
  height: 40px;
  padding: 0 1em;
  border: 0;
  border-radius: 4px;
  background-color: var(--color-light);
  font-family: var(--font-secondary);
  font-size: 0.9em;
}

.textarea {
  height: 120px;
  resize: none;
  height: 80px;
  padding: 1em;
  border: 0;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 500;
  font-family: var(--font-secondary);
  background-color: var(--color-light);
}

.textarea:focus,
.input:focus {
  outline: none;
}

.input::placeholder,
.textarea::placeholder::first-letter {
  font-family: var(--font-secondary);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: var(--color-text);
  text-transform: capitalize;
}

@media only screen and (max-width: 640px) {
  .textarea {
    max-width: 100%;
  }
}
