$color: green;

.container {
  width: 100vw;
  background-color: #faeedd!important;
  min-height: 90vh;
  text-align: center;
  height: auto;
  margin-bottom: 15vh;


  .heading {
    margin: 0;
    font-size: 32px;
    margin-top: 10px;
  }

  .blogsContainer {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5vh;
   
    margin-top: 5vh;
  }

  .blogcard {
    flex: 1;
    min-height: 60vh;
    display: flex;
    border-radius: 10px;
    background-color: #faeedd!important;
    border-radius: 2px;
    min-width: 30%;
    margin-top: 10vh;
    max-width: 30%;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.29);
  }

  .blogcard:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
  }

  .blogimage {
    overflow: hidden;
    max-height: 35vh;
  }

  .linktag a {
    text-decoration: none;
    color: rgb(39, 39, 39) ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .linktag:hover {
    color: lightseagreen;
  }

  .blogimage img {
    width: 100%;
    object-fit: cover;
  }

  .blogtext {
    flex: 1.2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

  
  }

  .blogsubtext {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  
  }

.subtextDiv{
  flex: 1;

  h5{
    text-transform: capitalize;
  }
}


  .blogtext h2,
  h4 {
    margin: 0;
  }

  .blogHeading {
    flex: 2;
    font-size: 1rem;
  }

  @media only screen and (max-width: 1300px) { 

    .blogcard{
      min-height: 50vh ;
      margin-top: 10vh;
    
    }
    
  }


  @media only screen and (max-width: 900px) { 
    .blogsContainer {
      flex-direction: column;
     
    }

    .blogcard {
      margin-top: 5vh;
      margin-bottom: 5vh;
      max-width: 100%;
   
    
    }
  }
}
