.mainContainer {
  height: auto;
  margin-bottom: 5vh;

  .imageContainer {
    margin-top: 5vh;
    width: 90%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    align-items: center;
  
  }

.imageContainer img{
    object-fit: contain;
}

  .innerContainer {
    height: 84vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5vh;
    display: flex;

    overflow: hidden;

    .leftContainer {
      flex: 1;
    }

    .rightContainer {
      flex: 1;
align-content: flex-end;
      -o-object-fit: cover;
      object-fit: cover;
      overflow: hidden !important;
    }

.rightContainer img{
 max-width: 100%;
 
}

    .form {
      height: 50%;
  
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
     
      margin-right: auto;
      width: 80%;
      justify-content: center;
    }

    .formHeading {
   
        color: #151515 ;
      font-size : 1.8rem;
     
    }

    .formInput {
      width: 90%;

      background-color: transparent;
      border: 1px solid darkgray;
      margin-top: 2vh;
      margin-bottom: 2vh;
      padding: 10px;
    }

    .sendButton {
      width: 20%;
      background-color: transparent;
      border: 1px solid darkgray;
      margin-top: 5vh;
      padding: 10px;
    }

    .contactInfoDiv {
      height: 30vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      text-align: left;
    }

    .textSection {
      flex: 1;
      display: flex;
      flex-direction: column;
  
    }

.textHeading{
    color: #151515 ;
    font-size : 1.8rem;
    margin-bottom: 20px;
}

    .textInnerText {
      margin: 5px;
      color: #565454;
      font-size: 1.2rem;
      font-weight: normal;
    }
  }

  @media screen and (max-width: 1200px) {
    .innerContainer {
      flex-direction: column;
      height: 140vh !important;
    }

    .sendButton {
      width: 50% !important;
    }

    .contactInfoDiv{
      
        height: 40vh !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    margin-bottom: 5vh;
    }
   
    
    .formHeading {
      margin-bottom: -10px;
    }


  }





}

.divider {
  width: 90%;
  height: 1px;
  background-color: #eadecf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* 1200 px is the starting of ipad and mobile phone */
