* {
	--column-gap: 40px;
	--one-column: calc((100vw - (var(--column-gap) * 11)) / 12);
	--two-columns: calc((var(--one-column) * 2) + var(--column-gap));
	--three-columns: calc(
		var(--one-column) + var(--two-columns) + var(--column-gap)
	);
	--four-columns: calc((var(--two-columns) * 2) + var(--column-gap));
	--five-columns: calc(var(--four-columns) + var(--column-gap));
	--six-columns: calc((var(--one-column) * 6) + (var(--column-gap) * 5));
	--horizontal-padding: calc(var(--column-gap) + var(--one-column));
	--font-primary: 'Playfair Display';
	--font-secondary: 'Montserrat';

	--white: #fafcfe;
	--color-light: #fafcfe;
	--color-primary: #d41776;
	--color-dark: #870e4b;
	--color-secondary: #47797a;
	--color-tertiary: #ffdadc;
	--color-black: #0e0e2c;
	--color-text: #58586f;

	margin: 0;
}

.titleText {
	font-family: var(--font-primary);
	font-size: 2.2em;
	font-weight: bold;
	text-align: left;
	color: var(--color-black);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
