.button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--color-tertiary);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 1px #0000001a;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
  box-shadow: 1px 2px 3px 1px #00000033;
}

.show {
  display: block;
}
