.title {
  font-family: var(--font-primary);
  font-size: 2.5em;
  color: var(--color-black);
  font-weight: bold;
  line-height: 1.4;
}

.underline {
  background-color: var(--color-tertiary);
  height: 1px;
  flex: 1;
  align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 2em;
  }
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 2em;
  }
}
