.container {
  padding: 20px 40px;
  box-shadow: inset 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container a {
  text-decoration: none;
}
@media only screen and (max-width: 640px) {
  .container {
    padding: 16px;
  }
}

.title {
  font-family: var(--font-primary);
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: left;
  font-weight: 600;
  color: var(--color-black);
  text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  .title {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 640px) {
  .title {
    font-size: 1em;
  }
}

.logo {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

@media only screen and (max-width: 640px) {
  .logo {
    height: 24px;
    width: 24px;
  }
}

.searchIcon {
  height: 32px;
  width: 32px;
  object-fit: contain;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .searchIcon {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (max-width: 640px) {
  .searchIcon {
    height: 24px;
    width: 24px;
  }
}
