.button {
  align-items: center;
  padding: 12px 40px;
  background-color: var(--color-primary);
  border: 0;
  font-family: var(--font-secondary);
  font-size: 1em;
  font-weight: medium;
  line-height: 1.5;
  color: var(--white);
  text-transform: capitalize;
  cursor: pointer;
}
.button:hover {
  box-shadow: 2px 4px 12px #00000033;
}

@media only screen and (max-width: 640px) {
  .button {
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 4px;
    box-shadow: 1px 2px 3px 1px #00000033;
  }
}
