.container {
  padding: 16px;
  text-align: center;
  background-color: var(--color-dark);
  font-family: var(--font-secondary);
  font-size: 1em;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 1.2;
  color: var(--white);
}

.container > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
}

@media only screen and (max-width: 640px) {
  .container {
    font-size: 0.9em;
  }
}
