.container {
	width: calc(var(--three-columns));
	margin-left: auto;
	max-height: calc(100vh - 150px);
	/* padding: 30px 0; */
	overflow: scroll;
	position: sticky;
	top: 50px;
}

.title {
	font-family: var(--font-primary);
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	color: var(--black);
}

@media only screen and (max-width: 1024px) {
	.container {
		margin-left: 0;
		padding: 50px 0;
		background-color: transparent;
	}
}

@media only screen and (max-width: 640px) {
	.container {
		width: 100%;
	}
}
