.container {
	background-color: var(--color-aside);
	width: calc(var(--three-columns));
	margin-left: auto;
	max-height: calc(100vh - 100px);
	padding: 30px 40px;
	overflow: scroll;
	position: sticky;
	top: 50px;
}

.title {
	font-family: var(--font-primary);
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	color: var(--black);
}
