.link {
	font-family: var(--font-secondary);
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	color: var(--color-black);
	text-decoration: none;
	padding: 10px 0;
}

.link:hover {
	color: var(--color-primary);
	text-decoration: none;
}

.activeLink {
	color: var(--color-primary);
	border-bottom: 3px solid var(--color-primary);
}

@media only screen and (max-width: 1024px) {
	.link {
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 640px) {
	.container {
		padding: 0 20px;
	}
	.link {
		font-size: 0.9em;
		padding: 5px 0;
	}
}
