.largeContainer *,
.smallContainer * {
  text-decoration: none;
}

.smallContainer > a {
  display: flex;
}

.largeThumbnail {
  width: 100%;
  height: calc(var(--five-columns) * 0.75);
  border-radius: 8px;
}

.smallThumbnail {
  border-radius: 8px;
  width: var(--two-columns);
  height: calc(var(--two-columns) * 0.75);
  object-fit: cover;
}

.smallTextBox {
  width: calc(var(--three-columns) + 10px);
}

.largeTitle {
  font-family: var(--font-primary);
  font-size: 2em;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
}

.smallTitle {
  font-family: var(--font-primary);
  font-size: 1.5em;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
}

.category {
  padding: 6px 10px;
  border-radius: 4px;
  border: solid 1.5px var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.6em;
  color: var(--color-primary);
  text-transform: uppercase;
}

.excerpt {
  font-family: var(--font-secondary);
  font-size: 1em;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-text);
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em;
  text-transform: lowercase;
}

.author {
  opacity: 0.8;
  font-family: var(--font-secondary);
  font-size: 0.9em;
  line-height: 1.5;
  text-align: left;
  color: var(--color-text);
}

@media only screen and (max-width: 1024px) {
  .largeTitle {
    font-size: 1.8em;
  }

  .smallTitle {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 640px) {
  .largeThumbnail {
    height: calc((100vw - 40px) * 0.75);
  }

  .largeTitle {
    font-size: 1.5em;
  }
  .category {
    border: 0;
    padding: 0;
  }
}
