.container {
	padding: 0 var(--horizontal-padding);
}

.articleContainer {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 640px) {
	.container {
		padding: 0 20px;
	}

	.articleContainer {
		flex-direction: column;
	}
}
